.hero__wrapper {
    align-items: center;
    color: #fff;
    display: flex;
    justify-content: center;
}

.hero__title {
   font-size: 16px;
}

.hero__content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}