.hero__wrapper {
    color: #fff;
    margin: 30px 0;
}

.hero__title {
   font-size: 16px;
   margin: 30px 0;
   text-align: center;
}

.hero__content {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: auto;
}