.navbar__container {
  margin: 20px;  
}

.navbar__list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.navbar__link {
  color: #fff;
  font-size: 25px;
  margin-right: 35px;
  text-decoration: none;
}

.navbar__link:hover {
  text-decoration: underline;
}

