body {
  margin: 20px; /* Ajusta el valor según sea necesario */
}

.article h1 {
  color: #3ec6e4;
}

.article h2 {
  color: #2063d6;
}

.article h3 {
  color: #20d6c4;
}

.article {
  margin: 0 auto;
  max-width: 1000px;
}

.article a {
  color: #2063d6;
  text-decoration: none;
}

.article a:hover {
  text-decoration: underline; 
}

