.index__blog-container {
    color: #fff;
}

.index__content {
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

.index__page-title {
   font-size: 16px;
   margin: 30px 0;
   text-align: center;
}

.index__title {
   font-size: 16px;
   margin: 30px 0;
   text-align: center;
}

.index__blog-image {
  display: flex;  
  justify-content: center;
}

h1 {
   text-align: center;
}

.index__listGroup {
  margin-right: 30px;
  margin-top: 105px;
  width: 250px;
}

.index__article {
  flex: 1;
}

.index__listGroup-item {
  background-color: #f0f0f0;
}

.index__listGroup-item.active {
  background-color: #595959; /* Fondo gris más oscuro para el elemento activo */
  border: 2px solid #595959;
}