.about__content {
  background-color: #252734; 
  color: #fff;
}

.about__page-title {
   font-size: 16px;
   margin: 30px 0;
   text-align: center;
}

.about__wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-between;
  margin: 20px;
}

.about__download-link {
  color: #fff;
  text-decoration: none; 
}

.btn.btn-outline-light:hover .about__download-link {
  color: #000;
}

.about__download-link .about__download-icon {
  filter: brightness(0) invert(1);
  margin-left: 15px;
}

.btn.btn-outline-light {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  margin-top: 10px;
  width: 180px;
}

.btn.btn-outline-light:hover .about__download-link .about__download-icon {
  filter: brightness(0) invert(0); /* Invierte los colores para que la imagen sea negra al pasar el ratón sobre el botón */
}

.about__text {
  background-color: #22262b;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;  
  width: 50%;
}

.about__title {
  font-size: 24px; 
}

.about__sub-title {
  font-size: 18px; 
}

.about__about-navbar .nav-link {
  color: #fff;
}

.about__education-content {
  display: block;
}
